body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4rem;
}

.inpfield {
  padding: 12px 15px;
  font-size: 1rem;
  color: #363738;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background-color: #f5f5f5;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.inpfield:focus {
  outline: none;
  border-color: #DB4444;
  background-color: #ffffff;
}

.submitbtn {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #DB4444;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submitbtn:hover {
  background-color: #E07575;
}

.submitbtn:active {
  background-color: #C33A3A;
}

.submitbtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}



table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3rem;
}

thead {
  background-color: #363738;
  color: #ffffff;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  font-size: 0.9rem;
}

th {
  font-weight: 600;
  border-bottom: 2px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

td {
  color: #7D8184;
}

td:nth-child(1) {
  font-weight: 500;
  color: #000000;
}

td:nth-child(3), td:nth-child(4), td:nth-child(7) {
  text-align: center;
}

tbody td:nth-child(7) {
  font-weight: 600;
  color: #DB4444;
}

.no-tickets {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #7D8184;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}




/* src/components/NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #363738;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000;
}

.nav-button {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #DB4444;
  border-radius: 5px;
}

.main-content {
  padding-top: 60px; /* A NavBar alatti tartalomhoz hely */
}
